<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="logfile" xsi:type="File" fileName="infoLog.log" />
        <target name="logfile2" xsi:type="File" fileName="appLog.log" archiveFileName="{#}_appLog.log" archiveNumbering="Date" archiveEvery="Day" archiveDateFormat="yyyyMMdd"/>
        <target name="logconsole" xsi:type="Console" />
    </targets>

    <rules>
        <logger name="*" level="Info" writeTo="logfile" />
        <logger name="*" level="Debug" writeTo="logconsole" />
        <logger name="*" level="Trace" writeTo="logfile2" />
        <logger name="*" minlevel="Warm" writeTo="logfile2" />
        <!--ultimo nivel cosidera nivel Warm, Error, Fatal-->
    </rules>
</nlog>